<div class="container">
  <h1>Result</h1>

  <strong><%= @message %></strong>
  <br>
  <p><%= "Word score:#{session[:score]}" %></p>
  <p><%= "Your total score:#{session[:total_score]}" %></p>
  <p><%= "Your highest scoring word:#{session[:longest_word]}" %></p>

  <ol class="words-list">
    <% session[:words_array].each do |word| %>
      <li><%= word %></li>
    <% end %>
  </ol>

  <div class="return">
    <%= link_to "Go Back", 'new' %>
  </div>

  <%= form_tag({controller: "games", action: "reset"}, method: "post") do %>
    <%= submit_tag 'reset' %>
  <% end %>
</div>
